# Build & Output Directories (Catch root and nested subfolders)
**/bin/
**/obj/
**/out/
**/publish/

# Visual Studio & IDE
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Git
.git/
.gitignore

# Environment files & Secrets
.env
.env.*
*.env

# Logs & Test Results
*.log
**/TestResults/

# Node files
**/node_modules/

# OS files
.DS_Store
Thumbs.db